.reveal code span.fragment.fade-out.visible {
  display: none; }

.reveal .progress, .reveal .controls {
  background: rgba(0, 0, 0, 0.2);
  color: #5a4a42; }

.reveal .alt-color {
  color: #CE495A; }

.reveal section img {
  border: none;
  background: none;
  box-shadow: none;
  margin: 0; }

.reveal .type-writer {
  font-family: TrixieCyr-Plain, serif; }

.reveal .about .about-img {
  text-align: left;
  padding-bottom: 50px; }
  .reveal .about .about-img img {
    width: 200px;
    border-radius: 2px;
    box-shadow: 0 0 20px 4px rgba(0, 0, 0, 0.5); }

.reveal .about .about-text {
  color: black;
  text-align: left; }
  .reveal .about .about-text img {
    height: 60px; }
  .reveal .about .about-text ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
    .reveal .about .about-text ul li {
      background: none;
      padding-left: 0; }

.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal {
  font-family: papaya_sunriseregular, serif;
  color: #5a4a42; }

.reveal h1 {
  font-size: 2em;
  line-height: 1.7em; }

.reveal h3 {
  font-size: 1.3em;
  line-height: 1.7em; }

.reveal h1, .reveal h2, .reveal h3, .reveal h4 {
  padding-bottom: 50px; }

.reveal ul {
  list-style-type: none; }

.reveal li {
  padding-bottom: 30px;
  background: url("../img/bullet.png") no-repeat 0 30%;
  padding-left: 60px; }

.reveal .section-head h4 {
  padding: 0; }

.reveal .section-head p {
  font-size: 0.6em; }

.reveal .fallback-font {
  font-family: "Montserrat", Impact, sans-serif;
  vertical-align: bottom; }

.reveal div.advice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  vertical-align: middle; }
  .reveal div.advice div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-size: 900px 531px;
    width: 900px;
    height: 531px;
    background-image: url("../img/advice.png");
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .reveal div.advice div > * {
      padding: 30px 0 0 0;
      margin: 0; }

.reveal div.slide-background.present[data-background-hash="img/fire.gifnullnullnullnullnullnullnullnone"] {
  opacity: 0.4; }

.reveal div.slide-background.present[data-background-hash="0whitenullnullnone"] {
  opacity: 0;
  -webkit-animation: fadein 5s forwards;
          animation: fadein 5s forwards; }

.reveal div.slide-background.present[data-background-hash="img/bg-way.pngcontainnullnullnullwhitenullnullnull"] {
  -webkit-animation: fadein-opaque 4s forwards;
          animation: fadein-opaque 4s forwards; }

.reveal div.slide-background.present[data-background-hash="img/bg-way.pngcontainnullnullnullnullnullnullnone"] {
  opacity: 0.2; }

.reveal div.slide-background.present[data-background-hash="img/atomic.jpgnullnullnullnullnullnullnullnull"] {
  opacity: 0;
  -webkit-animation: fadein 4s forwards;
          animation: fadein 4s forwards; }

.reveal .fragments-inplace {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0; }

.reveal img.peter {
  height: 600px; }

.reveal img.ikigai-circle {
  height: 600px; }

.reveal img.brain-info {
  height: 500px; }

.reveal section .clock-container.fragment {
  position: relative;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 1;
  visibility: visible; }
  .reveal section .clock-container.fragment.current-fragment .clock-entry {
    -webkit-animation: fadein 700ms forwards;
            animation: fadein 700ms forwards; }
  .reveal section .clock-container.fragment .shakeable.fragment {
    opacity: 1;
    visibility: visible; }
    .reveal section .clock-container.fragment .shakeable.fragment.current-fragment img.shake-clock {
      -webkit-animation-iteration-count: infinite;
              animation-iteration-count: infinite;
      -webkit-animation-duration: 700ms;
              animation-duration: 700ms;
      -webkit-animation-name: shake;
              animation-name: shake; }
    .reveal section .clock-container.fragment .shakeable.fragment.current-fragment .clock-entry {
      opacity: 1; }
  .reveal section .clock-container.fragment .clock-entry {
    position: absolute;
    opacity: 0; }

.reveal section .fragment.highlight-current, .reveal section .fragment.highlight-current.visible {
  visibility: visible;
  opacity: 0.3; }
  .reveal section .fragment.highlight-current.current-fragment, .reveal section .fragment.highlight-current.visible.current-fragment {
    opacity: 1; }

@-webkit-keyframes blur {
  to {
    -webkit-filter: blur(5px);
    filter: blur(5px); } }

#spagetti-monster, #spagetti-highlight {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
  height: 900px;
  -webkit-animation-duration: 2s;
          animation-duration: 2s; }

#kunnamon {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 600px;
  display: none; }

#dorofeev {
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0; }
  #dorofeev.show {
    -webkit-animation: run 5s forwards;
            animation: run 5s forwards;
    -webkit-animation-delay: 1s;
            animation-delay: 1s; }

#ikigai {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 400px;
  z-index: 102;
  display: none; }

#drippings {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 10000; }

.container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative; }

.text {
  position: absolute;
  left: 50%;
  top: 40%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  color: #ffffff;
  font-family: papaya_sunriseregular, serif;
  font-size: 8em;
  font-weight: 900;
  opacity: 0;
  -webkit-animation: fadein 1.5s forwards;
          animation: fadein 1.5s forwards;
  -webkit-animation-delay: 7.5s;
          animation-delay: 7.5s; }

.liquid {
  width: 120%;
  height: 30px;
  position: absolute;
  top: 0;
  left: -10%;
  background: rgba(0, 0, 0, 0.96);
  border-radius: 10%;
  -webkit-animation: liquid 10s forwards;
          animation: liquid 10s forwards; }

.blobs {
  -webkit-filter: url("#goo");
          filter: url("#goo");
  width: 100%;
  height: 100%;
  position: relative; }
  .blobs .blob {
    width: 100px;
    height: 100px;
    margin: 0px 100px 0px 0;
    background: #000000;
    border-radius: 50%;
    position: absolute;
    top: 0;
    -webkit-animation: drip_one 10s forwards;
            animation: drip_one 10s forwards; }
    .blobs .blob:nth-child(1) {
      left: -14%; }
    .blobs .blob:nth-child(2) {
      left: -1%; }
    .blobs .blob:nth-child(3) {
      left: 12%; }
    .blobs .blob:nth-child(4) {
      left: 25%; }
    .blobs .blob:nth-child(5) {
      left: 38%; }
    .blobs .blob:nth-child(6) {
      left: 51%; }
    .blobs .blob:nth-child(7) {
      left: 64%; }
    .blobs .blob:nth-child(8) {
      left: 77%; }
    .blobs .blob:nth-child(9) {
      left: 90%; }
    .blobs .blob:nth-of-type(4n-7) {
      width: 130px;
      -webkit-animation: drip_four 10s forwards;
              animation: drip_four 10s forwards; }
    .blobs .blob:nth-of-type(3n-2) {
      width: 52px; }
    .blobs .blob:nth-of-type(2) {
      width: 44px; }
    .blobs .blob:nth-of-type(8) {
      -webkit-animation: drip_five 10s forwards;
              animation: drip_five 10s forwards; }
    .blobs .blob:nth-of-type(4n+2) {
      height: 112px;
      -webkit-animation: drip_two 10s forwards;
              animation: drip_two 10s forwards; }
    .blobs .blob:nth-of-type(6n-2) {
      height: 84px;
      -webkit-animation: drip_three 10s forwards;
              animation: drip_three 10s forwards; }

@-webkit-keyframes drip_one {
  from {
    top: 0; }
  to {
    top: 103%; } }

@keyframes drip_one {
  from {
    top: 0; }
  to {
    top: 103%; } }

@-webkit-keyframes drip_two {
  from {
    top: 0; }
  to {
    top: 104%; } }

@keyframes drip_two {
  from {
    top: 0; }
  to {
    top: 104%; } }

@-webkit-keyframes drip_three {
  from {
    top: 0;
    height: 104px; }
  to {
    top: 102%;
    height: 264px; } }

@keyframes drip_three {
  from {
    top: 0;
    height: 104px; }
  to {
    top: 102%;
    height: 264px; } }

@-webkit-keyframes drip_four {
  from {
    top: 0;
    width: 130px;
    height: 60px; }
  to {
    top: 102%;
    width: 150px;
    height: 90px; } }

@keyframes drip_four {
  from {
    top: 0;
    width: 130px;
    height: 60px; }
  to {
    top: 102%;
    width: 150px;
    height: 90px; } }

@-webkit-keyframes drip_five {
  from {
    top: 0;
    height: 60px; }
  to {
    top: 102%;
    height: 144px; } }

@keyframes drip_five {
  from {
    top: 0;
    height: 60px; }
  to {
    top: 102%;
    height: 144px; } }

@-webkit-keyframes liquid {
  from {
    height: 30px; }
  to {
    height: 109%; } }

@keyframes liquid {
  from {
    height: 30px; }
  to {
    height: 109%; } }

@-webkit-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-webkit-keyframes fadein-opaque {
  from {
    opacity: 1; }
  to {
    opacity: 0.2; } }

@keyframes fadein-opaque {
  from {
    opacity: 1; }
  to {
    opacity: 0.2; } }

@-webkit-keyframes run {
  0% {
    left: 0;
    opacity: 0; }
  10% {
    opacity: 1; }
  50% {
    left: 45%;
    opacity: 1; }
  70% {
    left: 100%;
    opacity: 1; }
  100% {
    left: 100%;
    opacity: 0; } }
