.reveal {
  code span.fragment.fade-out.visible {
    display: none;
  }

  section {
    img {
      border: none;
      background: none;
      box-shadow: none;
      margin: 0;
    }
  }

  .type-writer {
    font-family: TrixieCyr-Plain, serif;
  }

   .about {
     width: 60%;
     height: 100%;
     padding-top: 20px;
     font-size: 1.3em;
     .about-img {
       text-align: center;
       img {
         width: 200px;
         border-radius: 2px;
         box-shadow: 0 0 20px 4px rgba(0, 0, 0, 0.5);
       }
       padding-bottom: 50px;
     }
     .about-text {
       padding-left: 100px;
       width: 85%;
       ul {
         list-style-type: none;
         li {
           padding-bottom: 20px;
         }
       }
     }
   }



}