.reveal {
  code span.fragment.fade-out.visible {
    display: none;
  }

  $secondColor: #CE495A;

  .progress, .controls {
    background: rgba(0, 0, 0, 0.2);
    color: #5a4a42;
  }

  .alt-color {
    color: $secondColor;
  }
  section {
    img {
      border: none;
      background: none;
      box-shadow: none;
      margin: 0;
    }
  }

  .type-writer {
    font-family: TrixieCyr-Plain, serif;
  }

  .about {
    .about-img {
      text-align: left;
      img {
        width: 200px;
        border-radius: 2px;
        box-shadow: 0 0 20px 4px rgba(0, 0, 0, 0.5);
      }
      padding-bottom: 50px;
    }
    .about-text {
      color: black;
      text-align: left;
      img {
        height: 60px;
      }
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        li {
          background: none;
          padding-left: 0;
        }
      }
    }
  }

  h1, h2, h3, h4, & {
    font-family: papaya_sunriseregular, serif;
    color: #5a4a42;
  }

  h1 {
    font-size: 2em;
    line-height: 1.7em;
  }

  h3 {
    font-size: 1.3em;
    line-height: 1.7em;
  }

  h1, h2, h3, h4 {
    padding-bottom: 50px;
  }

  ul {
    list-style-type: none;
  }

  li {
    padding-bottom: 30px;
    background: url('../img/bullet.png') no-repeat 0 30%;
    padding-left: 60px;
  }

  .section-head {
    h4 {
      padding: 0;
    }
    p {
      font-size: 0.6em;
    }
  }

  .fallback-font {
    font-family: "Montserrat", Impact, sans-serif;
    vertical-align: bottom;
  }

  div.advice {

    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;

    div {
      display: flex;
      align-items: center;
      background-size: 900px 531px;
      width: 900px;
      height: 531px;
      background-image: url('../img/advice.png');
      justify-content: center;

      & > * {
        padding: 30px 0 0 0;
        margin: 0;
      }
    }
  }

  div.slide-background.present[data-background-hash="img/fire.gifnullnullnullnullnullnullnullnone"] {
    opacity: 0.4;
  }

  div.slide-background.present[data-background-hash="0whitenullnullnone"] {
    opacity: 0;
    animation: fadein 5s forwards;
  }
  div.slide-background.present[data-background-hash="img/bg-way.pngcontainnullnullnullwhitenullnullnull"] {
    animation: fadein-opaque 4s forwards;
  }
  div.slide-background.present[data-background-hash="img/bg-way.pngcontainnullnullnullnullnullnullnone"] {
    opacity: 0.2;
  }
  div.slide-background.present[data-background-hash="img/atomic.jpgnullnullnullnullnullnullnullnull"] {
    opacity: 0;
    animation: fadein 4s forwards;
  }

  .fragments-inplace {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }

  img.peter {
    height: 600px;
  }

  img.ikigai-circle {
    height: 600px;
  }

  img.brain-info {
    height: 500px;
  }

  section {
    .clock-container.fragment {
      position: relative;
      height: 500px;
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 1;
      visibility: visible;

      &.current-fragment {

        .clock-entry {
          animation: fadein 700ms forwards;
        }
      }

      .shakeable.fragment {
        opacity: 1;
        visibility: visible;

        &.current-fragment {
          img.shake-clock {
            animation-iteration-count: infinite;
            animation-duration: 700ms;
            animation-name: shake;
          }

          .clock-entry {
            opacity: 1;
          }
        }
      }

      .clock-entry {
        position: absolute;
        opacity: 0;
      }
    }
  }
}
@-webkit-keyframes blur {
  to {
    -webkit-filter: blur(5px);
    filter: blur(5px);
  }
}

#spagetti-monster, #spagetti-highlight {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
  height: 900px;
  animation-duration: 2s
}

#kunnamon {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 600px;
  display: none;
}

#dorofeev {
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
  &.show {
    animation: run 5s forwards;
    animation-delay: 1s;
  }
}

#ikigai {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  height: 400px;
  z-index: 102;
  display: none;
}

//<editor-fold desc="Drippings">
// Drippings were taken from https://codepen.io/pareshd/pen/xgOEQb
$drippings-delay: 10s;

#drippings {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 10000;
}
@mixin leftPos($count){
  @for $i from 1 through $count {
    &:nth-child(#{$i}) {
      left:((($i)-2)*13)-1%;
    }
  }
}
.container{
  width:100vw;
  height:100vh;
  overflow:hidden;
  position:relative;
}
.text{
  position:absolute;
  left:50%;
  top:40%;
  transform:translate(-50%,-50%);
  text-align:center;
  color: #ffffff;
  font-family: papaya_sunriseregular, serif;
  font-size:8em;
  font-weight:900;
  opacity: 0;
  animation: fadein 1.5s forwards;
  animation-delay: 7.5s;
}

.liquid{
  width:120%;
  height:30px;
  position:absolute;
  top:0;
  left:-10%;
  background: rgba(0, 0, 0, 0.96);
  border-radius:10%;
  animation: liquid $drippings-delay forwards;
}

.blobs{
  filter:url('#goo');
  width:100%;
  height:100%;
  position:relative;

  .blob{
    width:100px;
    height: 100px;
    margin:0px 100px 0px 0;
    background: #000000;
    border-radius:50%;
    position:absolute;
    top:0;
    @include leftPos(9);
    animation: drip_one $drippings-delay forwards;

    &:nth-of-type(4n-7){
      width:130px;
      animation: drip_four $drippings-delay forwards;
    }
    &:nth-of-type(3n-2){
      width:52px;
    }
    &:nth-of-type(2){
      width:44px;
    }
    &:nth-of-type(8){
      animation: drip_five $drippings-delay forwards;
    }
    &:nth-of-type(4n+2){
      height:112px;
      animation: drip_two $drippings-delay forwards;
    }
    &:nth-of-type(6n-2){
      height:84px;
      animation: drip_three $drippings-delay forwards;
    }
  }

}

@keyframes drip_one{
  from{top:0;}
  to{top:103%;}
}
@keyframes drip_two{
  from{top:0;}
  to{top:104%;}
}
@keyframes drip_three{
  from{top:0;height:104px;}
  to{top:102%;height:264px;}
}
@keyframes drip_four{
  from{top:0;width:130px;height:60px;}
  to{top:102%;width:150px;height:90px;}
}
@keyframes drip_five{
  from{top:0;height:60px;}
  to{top:102%;height:144px;}
}
@keyframes liquid{
  from{height:30px;}
  to{height:109%;}
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
//</editor-fold>

@keyframes fadein-opaque {
  from { opacity: 1; }
  to   { opacity: 0.2; }
}

@-webkit-keyframes run {
  0% { left: 0; opacity: 0}
  10% { opacity: 1}
  50% { left: 45%; opacity: 1}
  70% {left : 100%;opacity: 1}
  100%{ left : 100%; opacity: 0}
}